<div class="container-rigth">
    <div class="inner-div vencimientos">
        <img height="25" src="/assets/i-vencimientos.svg" alt="">
        <span>Vencimientos</span>
    </div>
    <div class="inner-div paneles">
        <img height="25" src="/assets/i-paneles.svg" alt="">
        <span>Paneles</span>
        <img height="15" src="/assets/i-triangulo.svg" alt="">
    </div>
    <div class="inner-div niveles">
        <img height="25" src="/assets/i-niveles.svg" alt="">
        <span id="lblpisosel">Nivel 1</span>
        <img class="dropdownButton" id="dropdownButton" height="15" src="/assets/i-triangulo.svg" alt="">
        <div id="dropdownContent" class="dropdown-content">
            
            <p id="nivel_piso1">Nivel 1</p>
            <p  id="nivel_piso2">Nivel 2</p>
           
        </div>
    </div>
</div>