

<div class="container33">
    <div class="inner-div logo-map">

      <div class="icono">
        <img src="/assets/i-logojp.svg" alt="">


      </div>



    </div>
    <div class="inner-div buscador">
      <div class="search-container">
        <i class="fas fa-search search-icon"></i>
        <input type="text" class="search-input" placeholder="Buscar...">
        <i class="fas fa-times-circle clear-icon"></i>
      </div>
    </div>
    <div class="inner-div accesos"></div>
    <div class="inner-div accesos">
      <div class="icono">
        <a href="proforma.html">   <img src="/assets/i-proforma.svg" alt=""></a>

      </div>
      <div class="texto">
      <a href="proforma.html">  <span><b> Proformas</b> </span></a>

      </div>
    </div>


  </div>