<div class="container clearfix">
    <center>
        <img src="img/lead.png" alt="Lead Admin Dashboard" style="height:100px;" />
    </center>


    <div id="cssmenu"><div id="menu-button">Menu</div>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li class="active has-sub"><span class="submenu-button"></span><a href="/principal-busqueda.html">Productos</a>
            </li>
            <li class="active has-sub"><span class="submenu-button"></span><a href="#">Sobre Nosotros</a>
            </li>
            <li class="active has-sub"><span class="submenu-button"></span><a href="#">Preguntas Frecuentes</a>
            </li>
            <li class="active has-sub"><span class="submenu-button"></span><a href="#">Blog</a>
            </li>

            <li class="active has-sub"><span class="submenu-button"></span><a href="#">Iniciar Sesión</a>
                <ul>
                    <li><a href="login-cliente.html">Iniciar Sesión</a></li>
                    <li><a href="login.html">Administrador</a></li>
                    <li><a href="registrar-cliente.html">Registrate</a></li>
                </ul>
            </li>
            <li>
                <a href="principal-compra.html"><i class="fa fa-shopping-cart"></i></a>
            </li>
            <li>
                <a href="#search"><i class="fa fa-search"></i></a>
            </li>
            <li id="user-icon" class="active has-sub" style="display: none;">
                <span class="submenu-button"></span><a href="#"><i class="fa fa-user"></i></a>
                <ul>
                    <li><a href="cuenta-cliente.html">Mi cuenta</a></li>
                    <li><a id="cerrar-sesion-link" href="#">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script type="module" src="../../../src/Shared/navbar.js"></script>