body {
    background-color: #f4f4f4;
}
.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

#search-input {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 40px; /* Space for the clear button */
}

#search-button {
    padding: 10px;
    margin-left: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#clear-button {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
}


#search-button.loading {
    cursor: not-allowed;
    background-color: #ccc;
}

.intro-section {
    position: relative;
    padding: 0 175px;
    text-align: left;
    margin-bottom: -20px;
}

.intro-content {
    max-width: 680px;
}

.intro-content h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: inherit;
    font-size: 4rem;
    margin: -10px 0;
    padding: 0 10px;
}

.intro-content p {
    font-family: "Antarctica VAR", sans-serif;
    text-transform: none;
    font-weight: 800;
    font-style: normal;
    color: inherit;
    font-size: 1.2rem;
    margin: 40px 0;
    padding: 0 10px;
    line-height: 1.6;
    text-align: justify;
}

.team-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto 100px auto;
    width: 90%;
    max-width: 1200px;
}

.team-category {
    width: 30%;
    margin-right: 20px;
    margin-bottom: 0;
    position: sticky;
    top: 0;
    align-self: flex-start; /* Se asegura que quede pegado al inicio */
    z-index: 10; /* Mantener visible sobre otros elementos */
    padding: 20px;
    padding-top: 200px;
    border-radius: 8px;
    font-weight: bold;
}

.team-category h2 {
    font-family: "Antarctica VAR", sans-serif;
    text-transform: none;
    font-weight: 800;
    font-style: normal;
    color: inherit;
    font-size: 3rem;
    margin: 10px 0;
    padding: 0 10px;
}

.team-members {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    background-color: white;
    width: calc(50% - 10px);
    height: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.team-member h3 {
    font-family: "Antarctica VAR", sans-serif;
    text-transform: none;
    font-weight: 800;
    font-style: normal;
    color: inherit;
    font-size: 2rem;
    margin: 10px 0;
    padding: 0 10px;
}

.team-member p {
    font-family: "Antarctica VAR", sans-serif;
    text-transform: none;
    font-weight: 600;
    font-style: normal;
    color: inherit;
    font-size: 1.2rem;
    margin: 30px 0;
    padding: 0 20px;
}

.team-member:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}

.team-member img {
    width: 111%;
    height: auto;
    border-radius: 8px 8px 0 0;
    margin-left:-20px;
    margin-top: -20px;
    margin-bottom: 15px;
}

.custom-rectangle {
    position: absolute;
    width: 700px;
    height: 300px;
    background-color: #DC4405;
    z-index: -10;
    border-radius: 100px 0 0 100px;
}

.custom-rectangle:nth-of-type(1) {
    top: 110%;
    right: 0;
}

.custom-rectangle:nth-of-type(2) {
    top: 330%;
    right: 0;
}

.custom-rectangle:nth-of-type(3) {
    top: 430%;
    right: 0;
}

.team-member:nth-child(2n) {
    margin-top: 20px;
}

@media (max-width: 748px) {
    .intro-section {
        padding: 0 20px;
        margin-bottom: 0;
    }

    .intro-content {
        max-width: 400px;
        margin-left: 35px;
    }

    .intro-section h1 {
        font-size: 2.8rem;
    }

    .intro-section p {
        font-size: 1.2rem;
        font-weight: normal;
    }

    .team-section {
        flex-direction: column;
    }

    .team-category, .team-members {
        width: 100%;
    }

    .team-category {
        margin-right: 0;
        padding: 20px;
        position: static;
        padding-top: 0;
    }

    .team-category h2 {
        margin-left: 31px;
    }

    .team-member {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .team-member img {
        width: 111%;
        max-height: 200px;
    }

    .team-member h3, .team-member p {
        padding: 0 10px;
    }
}

@media (max-width: 1024px) {
    .intro-section {
        padding: 0 50px;
        margin-bottom: 0;
    }

    .intro-content {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .intro-section h1 {
        font-size: 3.5rem;
    }

    .intro-section p {
        font-size: 1.4rem;
        font-weight: normal;
    }

    .team-section {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .team-category, .team-members {
        width: 100%;
    }

    .team-category {
        margin-right: 0;
        padding: 20px;
        position: static;
        padding-top: 0;
    }

    .team-category h2 {
        margin-left: 0;
    }

    .team-member {

        height: auto;
        overflow: hidden;
    }

    .team-member img {
        width: 100%;
        max-height: 300px;
    }

    .team-member h3, .team-member p {
        padding: 0 10px;
    }

    .custom-rectangle {
        width: 70%;
        height: 400px;
    }
    .custom-rectangle:nth-of-type(3) {
        display: none;
    }

}