.product-card {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 2px solid rgba(51, 51, 51, 0.59);
    border-radius:10px;
    margin: 10px;
    padding: 10px;
    width: 120%;
    max-width: 850px;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.product-image {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1; /* 1:1 aspect ratio */
    overflow: hidden;
}

.product-image img {
    position: absolute;
    top: 30%;
    left: 60%;
    width: 65%;
    height: 100%;
    mix-blend-mode: multiply;
    object-fit: contain;
    transform: translate(-50%, -50%);
}
.trash-icon {
    position: absolute;
    left: 2%;
    top: 25%;
    transform: translateY(-50%);
    font-size: 60px;
    cursor: pointer;
    color: rgba(21, 21, 21, 0.4);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, color 0.3s;
}

.trash-icon:hover {
    color: #ff0000;
    transform: scale(1.1);
}
.product-details {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-label {
    font-weight: bold;
    font-size: 1.2em;
    margin-top:40px;
    margin-right:20px;
}

.price-value {
    font-size: 1.2em;
    margin-right:25px;
}

.product-actions {
    grid-column: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.product-quantity {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    overflow: hidden;
    width:50%;
}

.btn-quantity {
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}
.btn-quantity:hover {
    background-color: #e0e0e0;
}

.btn-quantity:focus {
    outline: none;
}
.quantity-box {
    padding: 0 2px;
    text-align: center;
    flex: 1;
    background-color: #f9f9f9; /* Match the background color */
    border: none; /* Remove border */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-prev, .btn-next {
    border: 2px solid #bbbbbb;
    border-radius: 10px;
    background-color: #f9f9f9; /* Match the background color */
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}

.btn-prev:hover, .btn-next:hover {
    background-color: #e0e0e0; /* Example hover background color */
}

.btn-prev:focus, .btn-next:focus {
    outline: none;
}

.page-numbers {
    display: flex;
    justify-content: center;
    margin: 1px 0;

}

.page-number {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #333;
    cursor: pointer;
    margin: 0 5px;
    padding: 10px 15px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.page-number:hover {
    background-color: #ddd;
    color: #000;
}

.page-number.active {
    background-color: #333;
    color: #fff;
}
.header-container {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.header-container h1 {
    margin-bottom: 10px;
}

.header-container hr {
    border: 1px solid #ccc;
    width: 100%;
}



/* Btn de agregar al carrito */
.custom-button-wrapper {
    position: relative;
    width: var(--width);
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    left: 35px; /* Move the button 10px to the right */

}

.custom-button {
    --width: 150px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
}

.custom-button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
}

.custom-button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.custom-button::after, .custom-button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.custom-text, .custom-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: top 0.5s;
}

.custom-icon {
    top: 100%;
}

.custom-icon svg {
    width: 24px;
    height: 24px;
}

.custom-button:hover {
    background: #222;
}

.custom-button:hover .custom-text {
    top: -100%;
}

.custom-button:hover .custom-icon {
    top: 0;
}

