.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 100%; /* Adjust the width as needed */
    max-width: 700px; /* Optional: set a max-width */
    gap: 10px;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.product-quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.btn-quantity {
    width: 30px;
    height: 30px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-prev, .btn-next {
    margin: 0 5px;
}
