
    <!-- BEGIN .side-content -->
    <div class="side-content">
        <!-- BEGIN .user-actions -->

        <header class="main-heading user-actions">
            <div class="container-fluid iestpdetails" >
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="page-icon">
                            <img src="/img/avatar1.svg" alt="" style="width: 57px;">
                        </div>
                        <div class="page-title">
                            <h5 class="bt-virtual">Administrador</h5>
                            <h6 id="mlbliestp" class="sub-heading">Artesania</h6>
                        </div>
                    </div>
                    
                </div>
                <hr>
                <!--<div class="row">
                    <h7 class="programas"> <img src="/img/i-programa.svg" alt=""> Administración:</h7>
                    <br><br>
                    <ul class="detail-prog" id="m_programas">
                        
                    </ul>
                    
                </div>-->
            </div>
        </header>
        

        
      
        <!-- END .user-actions -->
        <!-- BEGIN .side-nav -->
        <nav class="side-nav">
            <!-- BEGIN: side-nav-content -->
            <ul class="unifyMenu" id="unifyMenu">
                <li>
                    <a href="inicio.html" class="has-arrow" aria-expanded="false">
                        <span class="has-icon">
                           <img height="25" src="/img/i-inicio.svg" alt="">
                        </span>
                        <span class="nav-title ">Inicio</span>
                    </a>
                    
                </li>
                <li>
                    <a href="biblioteca.html" class="has-arrow" aria-expanded="false">
                        <span class="has-icon">
                            <img height="35" src="/img/i-bv.svg" alt="">
                        </span>
                        <span class="nav-title">Biblioteca</span>
                    </a>
                    
                </li>
                <li>
                    <a href="mislibros.html" class="has-arrow" aria-expanded="false">
                        <span class="has-icon">
                            <img height="25" src="/img/i-mislibros.svg" alt="">
                        </span>
                        <span class="nav-title">Mis libros</span>
                    </a>
                    
                </li>
            </ul>
            <!-- END: side-nav-content -->
        </nav>
        <!-- END: .side-nav -->
    </div>
    <!-- END: .side-content -->
