
    <!-- BEGIN .side-content -->
    <div class="side-content">
        <!-- BEGIN .user-actions -->

        <header class="main-heading user-actions">
            <div class="container-fluid iestpdetails" >
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="page-icon">
                            <img src="/img/avatar1.svg" alt="" style="width: 57px;">
                        </div>
                        <div class="page-title">
                            <h5 class="bt-virtual">Administrador</h5>
                            <h6 id="mlbliestp" class="sub-heading">CENGEST</h6>
                        </div>
                    </div>
                    
                </div>
                <hr>
                <!--<div class="row">
                    <h7 class="programas"> <img src="/img/i-programa.svg" alt=""> Administración:</h7>
                    <br><br>
                    <ul class="detail-prog" id="m_programas">
                        
                    </ul>
                    
                </div>-->
            </div>
        </header>
        

        
      
        <!-- END .user-actions -->
        <!-- BEGIN .side-nav -->
        <nav class="side-nav">
            <!-- BEGIN: side-nav-content -->
            
            <!-- END: side-nav-content -->
        </nav>
        <!-- END: .side-nav -->
    </div>
    <!-- END: .side-content -->
