<div class="legend__container">
    <div class="legend__content">
      <ul>
        <li class="legend__item ng-star-inserted btntools"  id="btnshowdraw" style="background-color: aquamarine; display: none;">
          <div class="legend__label" >

            <label class="tooltiptext">Herramienta dibujo</label>
            <img _ngcontent-gen-c150="" class="Group legend__img" src="/assets/i-draw.svg">
            <span _ngcontent-gen-c150=""></span>
          </div>
        </li>

        <li class="legend__item ng-star-inserted btntools" id="btnshowImg" style="background-color: aquamarine; display: none;">
          <div class="legend__label">

            <label class="tooltiptext">Subir Imagen</label>
            <img _ngcontent-gen-c150="" class="Group legend__img" src="/assets/i-img.svg">
            <span _ngcontent-gen-c150=""></span>
          </div>
        </li>
        <li class="legend__item ng-star-inserted">
          <div class="legend__label">

            <label class="tooltiptext">Estacionamientos</label>
            <img _ngcontent-gen-c150="" class="Group legend__img" src="/assets/i-estacionamientos.svg">
            <span _ngcontent-gen-c150=""></span>
          </div>
        </li>

        <li class="legend__item ng-star-inserted">
          <div class="legend__label">

            <label class="tooltiptext">Ba&nacute;os</label>
            <img _ngcontent-gen-c150="" class="Group legend__img" src="/assets/i-banios.svg">
            <span _ngcontent-gen-c150=""></span>
          </div>
        </li>
        <li class="legend__item ng-star-inserted">
          <div class="legend__label">

            <label class="tooltiptext">Lactarios</label>
            <img _ngcontent-gen-c150="" class="Group legend__img" src="/assets/i-lactarios.svg">
            <span _ngcontent-gen-c150=""></span>
          </div>
        </li>
        <li class="legend__item ng-star-inserted">
          <div class="legend__label">

            <label class="tooltiptext">Taxis</label>
            <img _ngcontent-gen-c150="" class="Group legend__img" src="/assets/i-taxis.svg">
            <span _ngcontent-gen-c150=""></span>
          </div>
        </li>
        <li class="legend__item ng-star-inserted">
          <div class="legend__label">

            <label class="tooltiptext">Buses</label>
            <img _ngcontent-gen-c150="" class="Group legend__img" src="/assets/i-buses.svg">
            <span _ngcontent-gen-c150=""></span>
          </div>
        </li>
      </ul>
    </div>
  </div>