<footer>
  <div class="row justify-content-center" style="background-color: #f8f9fa">
    <!-- Div con imágenes en cuadrados blancos -->
    <div class="col-md-2 d-flex justify-content-center">
      <a
        href="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FDirceturAyacuchoPeru%2Fvideos%2F1109673063234968%2F&show_text=true&width=560&t=0"
        target="_blank"
      >
        <div class="image-box">
          <img src="/img/logoartesania.png" alt="Imagen 3" />
        </div>
      </a>
    </div>
    <div class="col-md-2 d-flex justify-content-center">
      <a href="https://dirceturayacucho.pe/" target="_blank">
        <div class="image-box">
          <img src="/img/logodircetur.png" alt="Imagen 1" />
        </div>
      </a>
    </div>
    <div class="col-md-2 d-flex justify-content-center">
      <a href="https://www.gob.pe/regionayacucho" target="_blank">
        <div class="image-box">
          <img src="/img/logogore.png" alt="Imagen 2" />
        </div>
      </a>
    </div>

    <!-- Puedes agregar más divs de imagen según sea necesario -->
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="footer-item">
          <div class="about-us">
            <h2>SOBRE NOSOTROS</h2>
            <p>
              ARTESANIADEAYACUCHO.pe es una plataforma de DIRCETUR que promueve
              y comercializa artesanías tradicionales de Ayacucho. Parte del
              Proyecto Artesanía, conecta a consumidores con productos únicos,
              fomentando el comercio justo y visibilizando el talento local. Los
              usuarios pueden explorar, comprar directamente a los artesanos y
              conocer la cultura detrás de cada pieza.
            </p>
            <ul>
              <li>
                <a
                  href="https://www.facebook.com/DirceturAyacuchoPeru"
                  style="color: azure"
                  title="Ir a fanpage"
                >
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16 8.0486C16 3.60314 12.418 -0.000610352 7.99949 -0.000610352C3.58095 -0.000610352 -0.000976562 3.60314 -0.000976562 8.0486C-0.000976562 12.0662 2.92468 15.3962 6.74942 16V10.3753H4.71805V8.0486H6.74942V6.27526C6.74942 4.25792 7.94383 3.14361 9.77132 3.14361C10.6466 3.14361 11.5622 3.30082 11.5622 3.30082V5.28168H10.5534C9.55951 5.28168 9.24957 5.90215 9.24957 6.53869V8.0486H11.4684L11.1137 10.3753H9.24957V16C13.0743 15.3962 16 12.0662 16 8.0486Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-item">
          <div class="what-offer">
            <h2>Negocio</h2>
            <ul>
              <li>
                <a href="terminos-condiciones.html"> Términos y condiciones</a>
              </li>
              <li>
                <a href="politicas-privacidad.html"> Política de privacidad</a>
              </li>
              <li>
                <a href="preguntas-frecuentes.html"> Preguntas frecuentes</a>
              </li>
              <li><a href="../login.html"> Panel de administración</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-item">
          <div class="need-help">
            <h2>Enlaces</h2>
            <ul>
              <li><a href="busqueda.html">Productos</a></li>
              <li><a href="nosotros.html">Nosotros</a></li>
              <li><a href="contacto.html">Contáctenos</a></li>
              <li><a href="blog.html">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="sub-footer">
          <p>Copyright Artesanías Ayacucho 2024. <a href="#">Ayacucho</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
