<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="footer-item">
                    <div class="about-us">
                        <h2>SOBRE NOSOTROS</h2>
                        <p>Bienvenidos a Artesanias de Ayacucho, donde la tradición se encuentra con la creatividad
                            desde
                            [año de
                            fundación]. Nos dedicamos apasionadamente a la creación de productos artesanales únicos
                            que reflejan el talento y la herencia cultural de nuestra región.</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-item">
                    <div class="what-offer">
                        <h2>Negocio</h2>
                        <ul>
                            <li><a href="#"> Términos y condiciones</a></li>
                            <li><a href="#"> Política de privacidad</a></li>
                            <li><a href="#"> Preguntas frecuentes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-item">
                    <div class="need-help">
                        <h2>Enlaces</h2>
                        <ul>
                            <li><a href="#">Productos</a></li>
                            <li><a href="#">Contáctenos</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="sub-footer">
                    <p>Copyright Artesanias Ayacucho 2024. <a href="#">Ayacucho</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>