<div id="main-header" class="main-header">
    <div class="container clearfix">
        <a class="logo" href="index.html">
            <!-- <a href="index.html"></a> -->
        </a>
        <div id='cssmenu'>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="busqueda.html">Artesanias</a></li>
                <li><a href="artesanos.html">Artesanos</a></li>
                <li><a href="about.html">Sobre nosotros</a></li>
                <li><a href="preguntas-frecuentes.html">Preguntas frecuentes</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="index.html">Contactenos</a></li>

                <li>
                    <a title="Realizar una búsqueda" href="#search"><i class="fa fa-search"></i></a>
                </li>
                <li>
                    <a href="carrito-de-compra.html" title="Ir a carrito de compras"><i
                            class="fa fa-shopping-cart"></i></a>
                </li>
                <li>
                    <a title="Iniciar sessión" href="#search"><i class="fa fa-user"></i></a>
                </li>
                <!-- <li class='active'><a href='#'>Car Listing</a>
                                <ul>
                                    <li><a href='#'>Sidebar</a>
                                        <ul>
                                            <li><a href='car_listing_sidebar.html'>Car Listing</a></li>
                                            <li><a href='car_grid_sidebar.html'>Car Grid</a></li>
                                        </ul>
                                    </li>
                                    <li><a href='#'>No Sidebar</a>
                                        <ul>
                                            <li><a href='car_listing_no_sidebar.html'>Car Listing</a></li>
                                            <li><a href='car_grid_no_sidebar.html'>Car Grid</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="single_car.html">Single Car</a></li>
                                </ul>
                            </li> -->


            </ul>
            <!-- <ul>
                <li><a href='index.html'>Homepage</a></li>
                <li class='active'><a href='#'>Car Listing</a>
                    <ul>
                        <li><a href='#'>Sidebar</a>
                            <ul>
                                <li><a href='car_listing_sidebar.html'>Car Listing</a></li>
                                <li><a href='car_grid_sidebar.html'>Car Grid</a></li>
                            </ul>
                        </li>
                        <li><a href='#'>No Sidebar</a>
                            <ul>
                                <li><a href='car_listing_no_sidebar.html'>Car Listing</a></li>
                                <li><a href='car_grid_no_sidebar.html'>Car Grid</a></li>
                            </ul>
                        </li>
                        <li><a href="single_car.html">Single Car</a></li>
                    </ul>
                </li>
                <li class='active'><a href='#'>Blog</a>
                    <ul>
                        <li><a href='#'>Sidebar</a>
                            <ul>
                                <li><a href='blog_listing_sidebar.html'>Blog Classic</a></li>
                                <li><a href='blog_grid_sidebar.html'>Blog Grid</a></li>
                            </ul>
                        </li>
                        <li><a href='#'>No Sidebar</a>
                            <ul>
                                <li><a href='blog_listing_no_sidebar.html'>Blog Classic</a></li>
                                <li><a href='blog_grid_no_sidebar.html'>Blog Grid</a></li>
                            </ul>
                        </li>
                        <li><a href="single_post.html">Single Post</a></li>
                    </ul>
                </li>
                <li><a href='about_us.html'>About Us</a></li>
                <li><a href='contact_us.html'>Contact Us</a></li>
                <li>
                    <a href="#search"><i class="fa fa-search"></i></a>
                </li>
            </ul> -->
        </div>
    </div>
</div>