.thumb-content {
    width: 150px;
    /* Ancho deseado para la miniatura */
}

.thumb-inner {
    aspect-ratio: 1 / 1;
    /* Relación de aspecto cuadrada */
    width: 100%;
    /* Ocupará todo el ancho del contenedor */
    overflow: hidden;
    /* Para ocultar cualquier exceso de la imagen */
}

.thumb-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajuste de la imagen para cubrir todo el espacio sin distorsión */
}