<div id="widget-2" class="widget" style="display: none;height: 250px;">
    <div id="widget-header-2" class="widget-header">
    <button href="#" id="close2">x</button>
      
       <b>Subir Imagen</b> 
    </div>

    <div id="widget-content-2" class="widget-content widget-body" style="height: 200px;">

        <table class="table">
            <tbody><tr>
                <td></td>
            </tr>
            <tr>
                <td style="width: 150px;">
                    <h6>GEOREFERENCIACIÓN DE IMAGENES
                    </h6>
                </td>
                <td>
                    <div class="mt-2 leaflet-pm-toolbar">
                        <input type="file" id="imagenUpload" name="nombreComentario" placeholder="" class="form-control form-control-sm" accept="image/*">
                    </div>
                </td>
            </tr>
            <tr> <td>
                <input style="width: 100px" type="button" id="btnSubirImgRef" value="Cargar" class="btn-sm btn-secondary">
            </td>
            <td>
                <input style="width: 100px" type="button" id="btnlimpiarimage" value="Limpiar" class="btn-sm btn-secondary">
            </td>
            </tr>
    
        </tbody></table>
       
    </div>
</div>