<div class="siderebar">
    <div class="inner-div accesos">
        <div class="icono">
           <a href="mapa.html"> <img src="/assets/i-proforma.svg" alt=""></a>

        </div>
        <div class="texto">
        </div>

    </div>
    <div class="inner-div">
        <b> Administración de proformas </b>
    </div>
    <button id="openModal" type="button" class="btn  btn-red">+ Agregar </button>
    <br>
    <div id="table-proformas-container" style="margin-left:20px; margin-right:20px;">
        <br>
        <table id="grid"></table>
        <div id="pager"></div>

       

    </div>
    <div id="form-container-proforma" style="margin-left:20px; margin-right:20px">

        <div id="container-modal"  style="display:none"></div>
    </div>